html,
body {
    height: 100%;
    margin: 0;
}

article {
    background-color: aliceblue;
    min-height: 100%;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    grid-template-rows: 100px 35px 1fr 200px;

    grid-template-areas:
        "head head head head head"
        "navi navi navi navi navi"
        "le main main main ri"
        "foot foot foot foot foot"
    ;
}

.box {
    background-color: bisque;
    color: black;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Header design */
header {
    grid-area: head;
    background-color: #3580a5;


}

#logoo {
    float: left;
    width: 30%;
}

#logohead {
    width: 150px;
    margin: 0 auto;
    margin-left: 10px;
}

#Tittell {
    float: left;
    width: 70%;
}

h1 {
    color: white;
    font-size: 46px;
    font-family: sans-serif;
    font-stretch: semi-condensed;

}



/* Navigation Design */
nav {
    position: sticky;
    top: 0;
    grid-area: navi;
    background-color: rgb(73, 118, 133);
    width: 100%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    opacity: 70%;


}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    font-weight: bold;
    /* margin-top: 30px; */
}






/* main Design */
#main {
    grid-area: main;
    /* width: 80%; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}




/* Footer Design */

footer {
    grid-area: foot;
    width: 100%;
    background: #3580a5;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
}


#social {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#social a {
    color: #fff;
    text-decoration: none;
    padding: 7px 35px;

    display: inline-block;

}

.som {
    font-size: 30px;
    width: 35px;
}

#btwenkvk {
    text-align: center;
    margin: 0 auto;
}


/* Test slide SHow */


.mySlides {
    height: 350px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px 20px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    display: none;
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);

}

.prev {
    left: 27%;
}

.next {
    right: 27%;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.homemain {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}

/* open status  */
.design {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    border-radius: 5px;
    width: 400px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

#sliderform {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

/* Home main design */
#sliderform {
    display: flex;
    flex-direction: column;
}





/* .movedfiets {
    position: absolute;
    left: 0;
    animation: moveLeft 10s linear infinite;
    height: 50px;
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(100vw - 100px));
    }
    100% {
      transform: translateX(0);
    }
  }
   */




#movedfiets {

    position: absolute;
}

#fieets {
    left: 0;
    height: 50px;
}

.flipped img {
    transform: scaleX(-1);
}


/* Contact Form */
.in,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.lb {
    color: black;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.column {
    /* float: left; */
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* margin-left: 22%; */
}

/*Floats after the columns clearing */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#quest {
    min-height: 200px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}




/* Openingstijden pagina */
#openh1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    min-height: 450px;
    width: 300px;
}

th,
td {
    padding: 10px;
    border: 1px solid black;
}

#contain {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(98, 98, 98);
    background-color: rgb(255, 255, 255);
    width: fit-content;
}



/* Fietsenppagina */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.bike {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.bike img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}

.bike-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.bike-price {
    font-size: 14px;
    margin-bottom: 5px;
}

.bike-add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.bike-add-to-cart:hover {
    background-color: #3e8e41;
}

.bike-details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    overflow: auto;
}

.bike-details-content {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10% auto;
    max-width: 800px;
    text-align: left
}

.bike-details-content {
    width: min-content;
    justify-content: center;
    text-align: center;

}

#bike-image {
    height: 300px;
}





/* Verhuur pagina */
.huurfiets {
    height: 100px;
}

table {
    width: auto;
}

td {
    width: 300px;
}

#rentbtn {
    width: 200px;
    height: 75px;
}










/* Overons Pagina */
.text {
    color: rgb(5, 5, 147);
    font-size: xx-large;
}


/* contact information */


.contactimg {
    height: 50px;
}

.maindiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: blue;
    
}

.divcontact {
    margin-top: 25%;
}