body {
    display: grid;
    margin: 0;
    
}

html, body{
    height: 100%;
    margin: 0;
}




.fixed-header {
    width: 100%;
    height: 100px;
    position: fixed;
    background: #3580a5;
    color: #fff;
    z-index: 100;

    
}



.fixed-header {
    top: 0;
}



#logohead {
    float: left;
    width: 150px;
    margin: 0 auto;
    margin-left: 10px;
}


nav {
    position: fixed;
    width: 100%;
    margin-left: 15%;
    margin-top: 30px;
    display: inline-block;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}




.fixed-footer {
    width: 100%;
    height: 100px;
    position: fixed;
    background: #3580a5;
    padding: 10px 0;
    color: #fff;
    z-index: 100;

}





.fixed-footer {
    bottom: 0;
}

.container {
    width: 100%;
    /* margin: 0 auto; */
    position: relative;
    margin-top: 170px;
    margin-bottom: 120px;
    text-align: center;
    justify-content: center;
    height: 450px;


    /* Center the DIV 0.
    0
    00. */
}










#social {
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}

#social a {
    color: #fff;
    text-decoration: none;
    padding: 7px 35px;
    display: inline-block;

}
.som{
    font-size: 30px;
    width: 35px;
}




#btwenkvk {
    text-align: center;
    margin-top: 130px;

}



/* Test slide SHow */


.mySlides{
    height: 350px;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    display: none;
}


.prev,.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);

}

.prev {
    left: 27%;
}

.next {
    right: 27%;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }


  /* open status  */
  #open-status {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #00c853;
    padding: 10px;
    border-radius: 5px;
  }






  /* Fietsen page */
  #bikeform{
    
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "b1 b2"
}






/* fietsen page */
.form4img{
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "img1 img2"
    "img3 img4"

}

.maincontainer
{    
    width: 302px;
    height: 299px;
    margin: 10px;
    display: inline-flex;
}

.image
{
   border-radius: 10px;
}

.back h2
{
    position: absolute;
}

.back p
{
    position: absolute;
    top: 50px;
    font-size: 15px;
}

.front h2
{
    position: absolute;
    padding: 10px;
    top: 200px;
    color: #000;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer > .front
{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    
    width: 302px;
    height: 290px;
    
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer > .back
{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
    color: #fff;
    width: 302px;
    height: 290px;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

.maincontainer:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}






  /* verhuur page */
  #bikeform{

    
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "bike1 bike2"
    "bike3 bike4"
    ;

  }




  /* Openingstijde pagina  */

table{
    border:  3px solid black;
    min-height: 400px;
}
tr, td{
    border: 2px solid black;
}
td{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;

}
#formopenings{
    display: grid;
    grid-template-areas: "eerste tweede";
    justify-content: center;
    gap: 10px;
}
